<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Go Funnel</title>
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

</head>
<body>
<div id="game-wrapper">
<div id="main-page">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="homepage-wrapper">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0">
                        <div class="rock_sale">
                            <span class="rock_sale_text">&nbsp; Rock the sales funnel</span>

                            <div class="rock_image">
                                <img src="assets/image/image3.png" class="rock_sale_image"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 win_box">
                        <span class="win_box_text">Win a tough Market</span>

                        <div class="win_image">
                            <img src="assets/image/image4.png" class="win_image_active">

                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 product_sale ">
                        <div class="product_sale_back">
                            <div class="product_text"> Know your product <br> better than <br>a new hire</div>
                        </div>
                        <div class="product_image">
                            <img src="assets/image/image2_old.png" class="image_product_sale"
                                 style="height:100%; width:100%"/>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                        <img src="assets/image/cartoon woman.png" style="height:235px">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 deal_box">
                        <div class="game-mode-wrapper">
                            <div class="game-mode game-mode-unlocked deal_box_back">
                                <div class="deal_text">Close a big deal</div>
                                <div style="float: right;padding-right: 5%;color: #ffffff;">
                                    <img src="assets/image/check.png">

                                    <div style="font-size: 0.6em">Monthly target completed</div>
                                </div>


                                <div class="deal_image">

                                    <img src="assets/image/image5.png" class="deal_image_active">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-10 col-lg-8 col-lg-offset-2 col-md-offset-1 col-sm-offset-2 col-xs-offset-2">
                        <img src="assets/image/shape_and_text.png" style="width:100%; height:225px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!----------------------------------------------play mode game---------------------------------------->

<div id="play-mode-game" style="display: none">
<div class="container">
<br/>
<br/>
<!-------------------left question pannel --------------------------->
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
<!------------------------------------------------------for game 1 and 3 -------------------------------------->
    <div class="game-wrapper" id="play_mode_game_wrapper"style="display: none">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-menu"
                     style="background-color: #009fe3; ;padding: 2%;box-shadow: #666 3px 3px 5px 1px;">
                    <img src="assets/image/image2.png"
                         style="float: left;position: absolute;top: 0;left:-7%;width:100px" class="img-responsive">

                    <h2 id="que_name"
                        style="font-family: 'Impact', sans-serif;text-align: center;color: white;padding:2%">Prove your
                        UAB Product Knowledge</h2>

                    <div style="float: left;padding:0 3%"><img src="assets/image/image7.png" style="width:80px"
                                                               class="img-responsive">
                    </div>


                    <div class="list-group" style="float: left; width: 80%">


                        <a href="#" class="list-group-item"
                           style="width: 80px; float: left; background-image:url('assets/image/image6.png'); background-size: 100% 100%; border: none;background-color: transparent">
                            <h2 style="text-align: center;color: #ffffff;padding: 10%"></h2>
                        </a>
                        <a href="#" class="list-group-item"
                           style="width: 80px; float: left; background-image:url('assets/image/image6.png'); background-size: 100% 100%; border: none;background-color: transparent">
                            <h2 style="text-align: center;color: #ffffff;padding: 10%"></h2>
                        </a>
                        <a href="#" class="list-group-item"
                           style="width: 80px; float: left; background-image:url('assets/image/image6.png'); background-size: 100% 100%; border: none;background-color: transparent">
                            <h2 style="text-align: center;color: #ffffff;padding: 10%"></h2>
                        </a>
                        <a href="#" class="list-group-item"
                           style="width: 80px; float: left; background-image:url('assets/image/image6.png'); background-size: 100% 100%; border: none;background-color: transparent">
                            <h2 style="text-align: center;color: #ffffff;padding: 10%"></h2>
                        </a>
                        <a href="#" class="list-group-item"
                           style="width: 80px; float: left; background-image:url('assets/image/image6.png'); background-size: 100% 100%; border: none;background-color: transparent">
                            <h2 style="text-align: center;color: #ffffff;padding: 10%"></h2>
                        </a>

                        <div style="float: right;color: white;padding-top: 2%;">Back</div>
                        <div style="float: right;padding-top:1%"><img src="assets/image/arrows.png" style="width:35px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab"
                     style="position: relative;height: 406px">
                    <!-- Welcome section -->
                    <div class="bhoechie-tab-content active" id="start-page" style="text-align: center">

                        <br/>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4 style="color: grey">
                                    The objective of the game is to engage clients
                                    <br>
                                    and make them interested in our products in answering 5 of their questions.
                                    <br>
                                    <br>
                                    You receive AED 1k for each correctly answered question.
                                </h4>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <br/>
                                <a href="#" id="start-game" onclick="startQuestion();" class="btn  btn-lg start-game"
                                   style="background-image: url('assets/image/image8.png');background-size: 100% 100%;color: #ffffff;padding: 3%;">
                                    Start the Game</a>
                            </div>
                        </div>
                    </div>
                    <!----------------on start page load----------------->
                    <div class="bhoechie-tab-content" id="question-page" style="display: none">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="q-statement">Question here</div>
                        </div>
                        <div style="position: absolute;right: 15px;top: 129px;z-index: 1;"><img
                                src="assets/image/image9.png" style="height:196px"></div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="answer-block opta" id="opt-a">A.</div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="answer-block optb" id="opt-b">B.</div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="answer-block optc" id="opt-c">C.</div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="answer-block optd" id="opt-d">D.</div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="messaging2">
                            <h2 id="default-msg" class="default-msg">Click on an option to select it as your
                                answer.</h2>

                            <h3 id="responser" class="responser"></h3>
                            <br/>
                            <a href="#" id="next-level" class="btn btn-success btn-lg next-level" style="display: none">Next
                                Question</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!---------------------------------------------for game 2 and 4---------------------------------------->
    <div class="game-wrapper" id="play_game_wrapper">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">

            <!----------------------------left pannel-------------------------------------------->

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                <div class="list-group">
                    <a href="/" class="list-group-item active text-center clickable">
                        <img src="assets/image/sales_f_logo.png" style="width: 100%;height: 100%">
                        <br/>
                        <br/>
                        <br/>
                    </a>

                    <a href="#" class="list-group-item text-center">
                        <i class="livicon" data-name="<%= @livicons[index] %>" data-size="28" data-color="#333">1</i><br/>
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <i class="livicon" data-name="<%= @livicons[index] %>" data-size="28" data-color="#333">2</i><br/>
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <i class="livicon" data-name="<%= @livicons[index] %>" data-size="28" data-color="#333">3</i><br/>
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <i class="livicon" data-name="<%= @livicons[index] %>" data-size="28" data-color="#333">4</i><br/>
                    </a>
                    <a href="#" class="list-group-item text-center">
                        <i class="livicon" data-name="<%= @livicons[index] %>" data-size="28" data-color="#333">5</i><br/>
                    </a>

                    <br/>
                    <br/>
                </div>
            </div>
            <!-----------------------------------------center pannel------------------------------------>

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab" id="pgw_bd">
                <!-- Welcome section -->
                <div class="bhoechie-tab-content active" style="text-align: center;" id="start-page-game2">
                    <br/>
                    <h1 style="font-family: 'Impact', sans-serif">The Power of the Sales Funnel</h1>
                    <br/>
                    <br/>

                    <div class="row">
                        <!--<div class="col-lg-6">-->
                        <!--</div>-->
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1">
                            <h4 style="color: #666">
                                The objective of the game is to acquire clients by answering their questions at different stages of the sales funnel. The more clients you get, the more revenue you make.
                                <br/>
                                <br/>
                                You need to answer 5 consecutive questions correctly to win the client and the revenue.
                                <br/>
                                <br/>
                                Ready to take the challenge?
                                <br/>
                            </h4>
                        </div>
                    </div>
                    <br/>
                    <hr/>
                    <div class="row">
                        <h3>Choose if you want to acquire a normal or a difficult client</h3>
                        <br/>
                        <div class="col-xs-5 col-sm-6 col-md-6 col-lg-5">
                            <a href="#" id="start-game-1" class="start-game btn btn-warning btn-lg">
                                <strong>Name</strong> <br/> Revenue:
                                AED 200k
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <a href="#" id="start-game-2" class="start-game btn btn-danger btn-lg">
                                <strong>Name</strong> <br/> Revenue:
                                AED 800k</a>
                        </div>


                    </div>
                </div>
                <!--------------------------------------on start click------------------------------------>
                <div class="bhoechie-tab-content" id="question-block">
                    <br/>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="qpane-header">
                            <h1>Level 1</h1>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <br/>
                        <i class="livicon"  data-size="100" data-color="#333"></i>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <div class="q-statement">
                            Question here
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="answer-block-2 opta" id="game2-opt-a">A.</div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="answer-block-2 optb" id="game2-opt-b">B.</div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="answer-block-2 optc" id="game2-opt-c">C.</div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="answer-block-2 optd" id="game2-opt-d">D.</div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="messaging">
                        <h2 id="default-msg-<%= index+1 %>" class="default-msg">Click on an option to select
                            it as your answer.</h2>

                        <h3 id="game2-responser" class="responser"></h3>
                        <br/>
                        <a href="#" id="game2-next-level" class="btn btn-success btn-lg next-level" style="display: none">
                            Next Level </a>
                    </div>
                </div>

            </div>
        </div>

    </div>



</div>
<!-- right panel-->
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
<!-- Nav tabs -->
<ul class="nav nav-tabs tab-custom-style" role="tablist">
    <li class="active"><a href="#my-stats" role="tab" data-toggle="tab">Me</a></li>
    <li><a href="#trophycase" role="tab" data-toggle="tab">Badges</a></li>
    <li><a href="#all-SOs" role="tab" data-toggle="tab">All SOs</a></li>
    <li><a href="#branches" role="tab" data-toggle="tab">Branches</a></li>
    <!--<li style="background: #c9302c;">Back</li>-->
</ul>
<!-----------------------------------me------------------------->
<div class="tab-content">
    <div class="tab-pane fade in active" id="my-stats">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h4>

                    <br/>
                    <small> Test Branch</small>
                </h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div style="display: table">
                    <div class="circled">0</div>
                </div>
                <div style="text-align: center">Life</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div style="display: table">
                    <div class="circled">44</div>
                </div>
                <div style="text-align: center">Rank</div>
            </div>
        </div>
        <div id="my-scores-panel" class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h3>
                    <small>AED</small>
                    <small>1000k</small>
                </h3>
                (total revenue)
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="border-left: 1px solid lightgray">
                <h3>
                    <small>10 clients</small>
                </h3>
                (total clients booked)
            </div>
        </div>
        <hr/>
        <div id="quick-stats" class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>My Quick Stats</h4>
                <ul id="statlist">
                    <li>Played Bank Product games and Market & Competitive games
                    </li>
                    <!--<li>Conversion rate is <%#= @conversion %></li>-->
                    <li>On average AED k per client</li>
                    <!--<li>Highest success rate in <%#= ModeMaster.find(params[:mode_master_id]).mode_name %></li>-->
                    <li>Cumlative success rate in Module is</li>
                </ul>
            </div>
        </div>
        <hr/>
        <div id="success-chart" class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Success Rate per Level</h4>

                <div class="graphs">
                    <div class="col-lg-2 col-md-1 col-sm-1 col-xs-2">
                        <div class="graph">
                            <span id="score-lvl"></span>

                            <div class="graph-inner">Put graph here</div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------badges--------------------------------------->
    <div class="tab-pane fade" id="trophycase">
        <h4>Badges</h4>
        <br/>

        <div class="badge" style="display: inline-block">
            <div class="iconned conversion-rate">
                <i class="livicon"></i>
            </div>
        </div>

        <div class="badge" style="display: inline-block;">
            <div class="iconned grayed" style="pointer-events:none">
                <i class="livicon"></i>
            </div>
        </div>

        <div class="badge" style="display: inline-block">
            <div class="iconned conversion-rate">
                <i class="livicon"></i>
            </div>
        </div>

        <div class="badge" style="display: inline-block">
            <div class="iconned grayed" style="pointer-events:none">
                <i class="livicon"></i>
            </div>
        </div>

        <div class="badge" style="display: inline-block">
            <div class="iconned five-round">
                <i class="livicon"></i>
            </div>
        </div>

        <div class="badge" style="display: inline-block">
            <div class="iconned grayed" style="pointer-events:none">
                <i class="livicon"></i>
            </div>
        </div>

        <br/>

        <div class="badge-description">
            <h4 class="badge-title"></h4>

            <p class="badge-desc"></p>
        </div>
    </div>
    <!--------------------------------------all sos tab--------------------------------->
    <div class="tab-pane fade" id="all-SOs">
        <h4>
            The Top 5 Superstars
        </h4>
        <table class="table table-condensed" style="font-size: 0.8em">
            <tr>
                <th>Rank</th>
                <th>Officer</th>
                <th>AED k</th>
            </tr>
            <tr>
                <td>1</td>
                <td>officer 1</td>
                <td>1000k</td>
            </tr>

            <tr>
                <td colspan="3"><strong>My Rank</strong></td>
            </tr>
            <tr style="background: lightblue">
                <td>1</td>
                <td>officer 2</td>
                <td>800k</td>
            </tr>
        </table>

        <hr/>

        <h4>All SOs Quick Stats</h4>
        <ul id="allstatlist">
            <li>games played this cycle by 124 officers</li>
            <!--<li>Conversion rate is <%#= @conversion %></li>-->
            <li>On average AED 500k revenue per client
            </li>
            <li>Highest success rate in Module is 100%</li>
        </ul>
        <div id="all-success-chart" class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Success Rate per Level</h4>

                <div class="graphs">

                    <div class="col-lg-2 col-md-1 col-sm-1 col-xs-2">
                        <div class="graph">
                            <span id="all-score-lvl"></span>

                            <div class="graph-inner">Put graph here</div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <!------------------------------------------branches--------------------------------------->
    </div>
    <div class="tab-pane fade" id="branches">
        <h4>The Star Branches</h4>
        <br/>
        <table class="table table-condensed">
            <tr>
                <th>Total Branch points</th>
                <th>AED k</th>
            </tr>
            Branches
            <tr>
                <td>Branch 1</td>
                <td>10000K</td>
            </tr>
        </table>

        <br/>
    </div>

</div>
</div>
<!---------------------------------------------------------------game result----------------------------------->

<div class="modal fade" id="gameResult" style="text-align: center">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Game Over</h4>
            </div>
            <div class="modal-body">
                <div id="end-message"></div>
                <br/>

                <div id="result-message" style="display: none;">
                    <table class="table table-bordered" id="result-table">
                        <tr>
                            <th style="text-align: center">Level</th>
                            <th style="text-align: center">Correct</th>
                            <th style="text-align: center"></th>
                        </tr>
                    </table>
                </div>
                <h2 style='color:#666;display: none;' id="wonMsg">You earned your badges</h2><br/>

                <div id="won-badges">
                    <div class="badge">
                        <div class="iconned lead-generation">
                            <i class="livicon" data-name="users" data-size="28" data-color="#3f56aa"
                               title="Lead Champion"></i>
                        </div>
                    </div>
                    <div class="badge">
                        <div class="iconned client-engagement">
                            <i class="livicon" data-name="star-full" data-size="28" data-color="red"
                               title="Star Seller"></i>
                        </div>
                    </div>
                    <div class="badge">
                        <div class="iconned sales-application">
                            <i class="livicon" data-name="checked-on" data-size="28" data-color="white"
                               title="Perfect Paperwork"></i>
                        </div>
                    </div>
                    <div class="badge">
                        <div class="iconned credit-decision">
                            <i class="livicon" data-name="legal" data-size="28" data-color="darkgreen"
                               title="Top Rating"></i>
                        </div>
                    </div>
                    <div class="badge">
                        <div class="iconned disbursement">
                            <i class="livicon" data-name="thumbs-up" data-size="28" data-color="gold"
                               title="Happy Customer"></i>
                        </div>
                    </div>
                </div>
                <h2 style='color:#666;display: none;' id="lostMsg">You lost some badges</h2><br/>

                <div id="lost-badges">
                    <div class="badge">
                        <div class="iconned lead-generation">
                            <i class="livicon" data-name="users" data-size="28" data-color="#3f56aa"
                               title="Lead Champion"></i>
                        </div>
                    </div>
                    <div class="badge">
                        <div class="iconned client-engagement">
                            <i class="livicon" data-name="star-full" data-size="28" data-color="red"
                               title="Star Seller"></i>
                        </div>
                    </div>
                    <div class="badge">
                        <div class="iconned sales-application">
                            <i class="livicon" data-name="checked-on" data-size="28" data-color="white"
                               title="Perfect Paperwork"></i>
                        </div>
                    </div>
                    <div class="badge">
                        <div class="iconned credit-decision">
                            <i class="livicon" data-name="legal" data-size="28" data-color="darkgreen"
                               title="Top Rating"></i>
                        </div>
                    </div>
                    <div class="badge">
                        <div class="iconned disbursement">
                            <i class="livicon" data-name="thumbs-up" data-size="28" data-color="gold"
                               title="Happy Customer"></i>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" id="restart-game" class="btn btn-primary btn-lg">Play Again</button>
                <!--------------------------------------------------------------------------------------------->
                <!--
                Objective: Button to redirect back to Home Page to play unlocked mode
                -->
                <!--------------------------------------------------------------------------------------------->
                <button type="button" id="back-to-home" class="btn btn-info btn-lg">Home Page</button>
                <!--------------------------------------------------------------------------------------------->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</div>
</div>
</div>
<script src="assets/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.js" type="text/javascript"></script>
<script src="assets/js/custom.js" type="text/javascript"></script>
</body>
</html>