body{
    margin: 0;
    padding: 0;
    background-image: url('../image/background.png');
}
#game-wrapper{
    width: 640px;
    height: 480px;
    position: relative;
    /*border: 1px solid red;*/
    margin: auto;
    background-image: url('../image/background.png');
}
#salesfunnel-and-toughmarket{
    width: 100%;
    height: 10%;
    /*border: 1px solid yellow;*/
    position: absolute;
    margin-top: 15%;
}
#salesfunnel{
    background-color: #2e5aa3;
    height: 100%;
    width: 49%;
    left: 0;
    font-size: 1em;
    color: white;
    float: left;
    position: relative;
}
#toughtmarket{
    background-color:#abaed1;
    height: 100%;
    width: 49%;
    right: 0;
    font-size: 1em;
    color: white;
    float: right;
    position: relative;

}
/*.games{*/
    /*border: 1px solid #ffff00;*/
    /*height: 100%;*/
    /*margin-left: 70%;*/
    /*position: relative;*/
    /*width: 30%;*/
/*}*/
.game-image{
    position: absolute;
}
#button2{
    right: 0;   
}
#button3{
   left: 0;
}
#newhire-and-bigdeal{
    /*border: 1px solid green;*/
    height: 26%;
    margin-top: 24%;
    position: absolute;
    width: 100%;
}
#newhire{
    background-color: #8fcbe8;
    height: 100%;
    width: 29%;
    left: 0;
    font-size: 1em;
    color: white;
    float: left;
    position: relative;
    /*text-align: center;*/
}
#button1{
    right: -23%;
    width: 52%;
}
#bigdeal{
    background-color:#e4b965;
    height: 100%;
    width: 29%;
    /*right: 0;*/
    font-size: 1.1em;
    color: white;
    float: left;
    position: relative;
    margin-left: 7%;
}
#button4{
    left: -25%;
    width: 52%;
}
#image-center{
    width: 30%;
    height: 100%;
    margin-left: 5%;
    /*border: 1px solid red;*/
    float: left;
    position: relative;
}
#center-image{
    width: 78%;
    height: 100%;
    position: absolute;
}

#great-sales-challenge{
  position: absolute;
    width: 100%;
    height: 20%;
    margin-top: 43%;
    /*border: 1px solid green;*/
}
#great-sales-image-box{
    /*border: 1px solid yellow;*/
    height: 100%;
    margin-left: 19%;
    position: absolute;
    width: 61%;
}
#sales-image{
    width: 100%;
    height: 100%;
}











